/*//wts,mts common*/

//@import url('.../fonts/noto-sans-kr/css/_noto-sans-kr.css');

//padding
$padding-type01 : 5px;

//primary-color
$primary : #1685fa;

//section-bg-color
$bg-color : #f6f8f9;

//font-color
$tit-color : #000000;
$con-color : #7d7d8e;
$foot-color : #858585;

//font-size
$tit-size:1.25rem; //20px
$sub-size: 0.9375rem; //15px
$defult-size:0.75rem; //12px
$table-size:0.6875rem; //11px
$small-size:0.625rem; //10px;

//borderr
$border-color:#dee2e6;
$dark-border-color:#7d7d8e;
$border-radius : 0.3rem;

//좌우여백
$inside-margin : 15px;

//table
$th-bg : $bg-color;
$td-bg : #ffffff;

%float-clear {
  &:after{
    content:"";
    display:block;
    clear:both;
  }
}

//mixin
@mixin color ($bg, $font) {
  background-color: $bg !important;;
  color: $font !important;
}

@mixin bgimg ($img, $position, $size) {
  background-image : url($img);
  background-repeat: no-repeat;
  background-position: $position;
  background-size : $size;
}
@mixin ellipsis (){
  overflow: hidden;
  width:100%;
  text-overflow:ellipsis;
  white-space:nowrap;
}
//font-face
/*
 * Nanum Gothic (Korean) http://www.google.co../fonts/earlyaccess
*/

@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/NanumGothic-Regular.eot);
  src: url(../fonts/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'), url(../fonts/NanumGothic-Regular.woff2) format('woff2'), url(../fonts/NanumGothic-Regular.woff) format('woff'), url(../fonts/NanumGothic-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/NanumGothic-Bold.eot);
  src: url(../fonts/NanumGothic-Bold.eot?#iefix) format('embedded-opentype'), url(../fonts/NanumGothic-Bold.woff2) format('woff2'), url(../fonts/NanumGothic-Bold.woff) format('woff'), url(../fonts/NanumGothic-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/NanumGothic-ExtraBold.eot);
  src: url(../fonts/NanumGothic-ExtraBold.eot?#iefix) format('embedded-opentype'), url(../fonts/NanumGothic-ExtraBold.woff2) format('woff2'), url(../fonts/NanumGothic-ExtraBold.woff) format('woff'), url(../fonts/NanumGothic-ExtraBold.ttf) format('truetype');
}




//common
*{margin:0;padding:0;box-sizing: border-box;}
html,body{width:100%;height:100%; color:$con-color;/*font-size:2.95vw;*/font-family: Nanum Gothic, sans-serif;}
body {-webkit-text-size-adjust:100%;background-color:#fff;}
a{text-decoration:none;color:$con-color;}
li{list-style: none;}
table{width:100%;border-collapse:collapse;border-spacing:0;table-layout: fixed;font-size:0.9rem;}
caption,
summary{display: none;}

.btn-process{
  display: block;
  position:absolute;
  top:0;right:0;bottom:calc(-100% - 15px);
  width:calc(25% - 5px);
  border:none;
}
.btn-chart-move{
  position:absolute;
  top:-2px; right:-2px;
  &:before{
    content:"";
    display:block;
    position: absolute;
    top:0;right:0;
    border:1.7rem solid transparent;
    border-top-color:#717181;
    border-right-color:#717181;
  }
  &:after{
    content:"";
    display:block;
    position:absolute;
    top:0; right:0;
    width:2rem;
    height:2rem;
    @include bgimg('../images/icon/add.png', top 0.4rem right 0.4rem , 1.3rem);
  }
}
.btn-primary{
  @include color($primary,#fff);
}


.tab-pane{
  &.fade{display:block !important;;}
  &.fade:not(.show){display:none !important;}
}
.sub-tit{
  height:2.5rem;
  margin-bottom:0.25rem;
  font-size:$sub-size;
  line-height: 2.5rem;
  @extend %float-clear;
  font-weight: 700;
  .tit{float:left;}
  .link{
    float:right;
    position:relative;
    padding-right:1.875rem;
    color:$primary;
    &:after{
      content:"";
      display:block;
      position: absolute;
      top:0; right:0 ; bottom:0;
      width: 1.5rem;
      margin:0.7rem 0;
      @include bgimg('../images/icon/up-arrow.png', center , contain);
    }
  }
}
.sub-list{
  width:100%;
  margin-top:-$inside-margin;
  @include color(#fff,$primary);
  ul{margin-bottom:0;}
  li{
    position:relative;
    height:2.5rem !important;
    padding:0 $inside-margin;
    border-bottom:1px solid $border-color;
    color:$primary;
    font-size:$sub-size !important;
    line-height: 2.5rem !important;
    font-weight: 700;
    &.read{background-color:$bg-color;}
  }
  li:after{
    content:"";
    display:block;
    position: absolute;
    top:0; right:$inside-margin ; bottom:0;
    width: 1.5rem;
    margin:0.7rem 0;
    @include bgimg('../images/icon/up-arrow.png', center , contain);
  }
  span{font-size:$defult-size;}
  span.classify{padding:0.25rem;border:1px solid $primary;}
  span.tit{padding:0 0.5rem;color:$con-color;}
  span.date{float:right;margin-right:2rem;color:$con-color;}
}
.table-box{
  padding:0.25rem 0;
  .table.boder-top-none{border-top:0;}
  .table.boder-top-none thead tr:first-child th{border-top:0;}
  //.table:not(:first-child) {border-top:0;}
  //.table:not(:first-child) thead tr:first-child th{border-top:0;}

  .shadow-box,
  .sub-con-box{
    table{
      border-top:none;
      border-left:none;
      border-right:none;
      border-bottom:none
    }
    thead tr:first-child th,
    thead tr:first-child td{border-top:none;}
    thead tr th:first-child,
    thead tr td:first-child,
    tbody tr th:first-child,
    tbody tr td:first-child{border-left:none;}
    thead tr th:last-child,
    thead tr td:last-child,
    tbody tr th:last-child,
    tbody tr td:last-child{border-right:none;}
    tbody tr:last-child th,
    tbody tr:last-child td{border-bottom:none;}
    table.border-top{
      border-width:2px !important;
    }
  }
  .sub-con-box{margin-right:-$inside-margin;margin-left:-$inside-margin;border-top:1px solid $border-color;border-bottom:1px solid $border-color;}
  .shadow-box{box-shadow:1px 1px 5px rgba(0, 0, 0, 0.1);}
}
ul.table{
  margin-bottom:0;
  border-top:none;
  border-right:none;
  border-bottom:1px solid $border-color;
  border-left:1px solid $border-color;
  font-size:$table-size;
  li{display:flex;flex-direction: row;flex-wrap: wrap;}
  div.cell,
  div.btn-wrap{
    padding:0.25rem 0;
    border-right:1px solid $border-color;
    color:$con-color;
    line-height: 1.6;
    text-align: center;
  }
  div.cell{border-top:1px solid $border-color;}
  
  li.head{
    div.row{
      border-bottom: 0;
      background-color:$th-bg;font-weight: 700;
    }
  }
  li .cell:nth-child(1){width: 20%;}
  li .cell:nth-child(2){width: 60%;}
  li .cell:nth-child(3){width: 20%;}
  li .cell:nth-child(4){width: 20%;}
  li .cell:nth-child(5){width: 60%;}
  li .cell:nth-child(6){width: 20%;}
  li.row{
    margin-right:0;
    margin-left: 0;
    background-color:$td-bg;
    div.cell:nth-child(1),
    div.cell:nth-child(2),
    div.cell:nth-child(3){border-top-color:#7d7d8e;}
    div.cell{
      display:block;
      font-weight: 400;
    }
    
  }
  li.row.selec{
    div.cell{display:none;}
    .btn-wrap{
      display:block;
      width: 100%;
      background-color:rgba(0, 0, 0, 0.13);
      border-top:1px solid #7d7d8e;
      font-weight: 400;
      transition: all .4s ease;}
  }
  input[type=button]{
    min-width: 80px;
    padding: 7px;
    background-color: $primary;
    color: #fff;
    margin: 6px 3px;
    border: none;
    border-radius: 3px;
  }
  input[type=button][readonly]{background-color:#717181;}
}
.table{
  margin-bottom:0;
  border:1px solid $border-color;
  font-size:$table-size;
  &.row-underline tbody tr:first-child td,
  &.row-underline tbody tr:first-child th{border-top-color:$dark-border-color;}
  &.row-underline.under-3 tbody tr:nth-child(3n):not(:last-child) td,
  &.row-underline.under-3 tbody tr:nth-child(3n):not(:last-child) th{border-bottom-color:$dark-border-color;}
  &.row-underline.under-2 tbody tr:nth-child(2n):not(:last-child) td,
  &.row-underline.under-2 tbody tr:nth-child(2n):not(:last-child) th{border-bottom-color:$dark-border-color;}
  thead{
    th,
    td{
      vertical-align: middle;
      border-bottom: 0;
    }
  }
  th,
  td{
    padding:0.25rem 0;
    border-top:1px solid $border-color;
    border-right:1px solid $border-color;
    border-bottom:1px solid $border-color;
    border-right:1px solid $border-color;
    color:$con-color;
    line-height: 1.6;
    text-align: center;
    vertical-align: middle;
  }
  th{background-color:$th-bg;font-weight: 700;}
  td{background-color:$td-bg;font-weight: 400;}
  p{
    margin-bottom:0;
    line-height:1;
  }
  .small{font-size:$small-size;}
  .link{color:#1685fa; text-decoration: underline;}
  select{
    height: 1.8125rem;
    padding:0;
    border:0;
    background-color:transparent;
    font-size:$defult-size;
    color:$con-color;
  }
  input[type=text]{
    border: none;
    height: 1.8125rem;
    font-size: 0.75rem;
    background: #fff;
    padding: 0 0.5rem;
    min-width: 100px;
  }

  &.document-detail{
    margin-top:-$inside-margin;
    border-right:0;
    border-left:0;
    tbody tr th:first-child,
    tbody tr td:first-child{padding-left:$inside-margin; border-left:0;}
    tbody tr th:last-child,
    tbody tr td:last-child{padding-right:$inside-margin;border-right:0;}
    tbody tr:last-child th,
    tbody tr:last-child td{
      padding-top:$inside-margin;
      padding-bottom:$inside-margin;
    }
  }


}
.navigation{
  padding:$inside-margin 0;
  .pagination{
    align-items: center;
    justify-content: center;

    a{font-size:$defult-size;}
    .page-item{
      &.active a{@include color($primary,#fff);}
      &:first-child {
        .page-link {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }
      &:last-child {
        .page-link {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
      }
      a{color:$con-color;}
    }

  }
}
/*checkbox,radio custom*/
.check-custom{
  input[type=checkbox],
  input[type=radio]{display: none;}
  input + label{display:inline-block;position:relative;padding-right:1rem;padding-left:2em;color:$con-color;line-height:2rem;cursor:pointer;}
  input + label:before{content:"";display:block;position:absolute;top:50%;left:0;width:1.2rem;height:1.2rem;margin-top:-0.55rem;border:1px solid #888;border-radius:2px;}
  input + label:after{content:"";display:block;position:absolute;top:50%;left:2px;width:1rem;height:1rem;margin-top:-0.45rem;background-size:contain;border-radius:2px;}
  input[type=checkbox]:checked + label:before,
  input[type=radio]:checked + label:before{background-color:$primary;}
  input[type=checkbox]:checked + label:after,
  input[type=radio]:checked + label:after{@include bgimg('../images/icon/verification-mark.png', center , 0.75rem);}
}

.nav-tabs{
  display: flex;
  flex-wrap:nowrap;
  width:100%;
  border:0;
  text-align: center;
  .nav-item{width:100%;}
  .nav-item .nav-link{
    display:block;
    position:relative;
    border:0;
    @include color(#fff,$foot-color);
    font-size:$sub-size;
  }
  .nav-link.active{
    font-weight:700;
    color:$primary !important;
  }
  .nav-link.active:after{
    content:"";
    display:block;
    position:absolute;
    right:0; bottom:0; left:0;
    height: 3px;
    background-color:$primary;
  }
  .nav-link.active,
  .nav-item.show .nav-link{

  }
}
.cover{
  display:table;
  width:100%;
  height:100%;
  .cover-inner{
    display:table-cell;
    width:100%;
    height:100%;
    vertical-align: middle;
  }
}
.search-bar{
  display:flex;
  position:relative;;
  margin-right:-5px;
  margin-bottom:$inside-margin;
  margin-left:-5px;
  * {
    border-radius:0;
    font-size:$defult-size;
    color:$con-color;
  }
  select{padding:0.375rem 0;}
  .search-con{flex: none;padding:0 5px;}
  .three-quarters{width:75%;}
  .quarter{width:25%;}
  .half{width:50%;}
  .txt{padding:0.375rem 0;}
  .datepicker{
    background-color:#fff;
    border: 1px solid #ced4da;
    input[type=text] {padding:0.375rem 0;border:none;letter-spacing: -1px;}
    input[type=text]:focus {  outline: none;  }
    .calendar{width:1.5rem;padding:0 0.25rem;@include bgimg('../images/icon/calendar.png', center , 1rem);}
    .input-group-text{border:none;background-color: transparent;}
    div.form-control{border:none;}
  }
  .search-wrap{
    overflow:hidden;//06.13
    width:100% !important;//06.13
    height:calc(1.5em + 0.75rem + 2px);//06.12
    background-color:#fff;
    border: 1px solid #ced4da;
    input {border:none;letter-spacing: -1px;}
    input:focus {  outline: none;  }
    .form-control{
      margin:-1px;
      border:1px solid $border-color;
    }
    .search{
      width:2rem;
      padding:0 0.5rem;
      margin:-1px;
      @include bgimg('../images/icon/search.png', center , 1rem);
      background-color:$primary;
      border:1px solid $border-color;
    }
  }
}

.wrap{  height:100%;  }

//header
header{
  position:relative;
  //top: 0;right:0;left:0;
  z-index: 2;
  width:100%;
  //height:3.125rem;
  @include color(#fff,$tit-color);
  box-shadow: 0 4px 4px rgba(0,0,0,.1);
  .page-tit{
    //@include ellipsis();
    display:inline-block;;
    height:3.125rem;
    margin-bottom:0;
    padding:3px 1rem 0;
    border:0 !important;
    @include color(#fff,$tit-color);
    line-height:calc(3.125rem - 3px);
    font-weight:bold;
    font-size:$tit-size;
    &:before{
      content:"";
      display:inline-block;
      width:1rem;
      height:1rem;
      margin-right:1rem;
      @include bgimg('../images/icon/left-arrow.png', center , contain);
    }
  }
  .page-top-icon{
    padding:0 0.25rem;
    line-height: 3.125rem;
    img{width:100%;}
  }
  .dropdown {
    .nav-link{height:3.125rem;padding:3px 1rem 0;line-height:calc(3.125rem - 3px);}
    .dropdown-toggle::after{
      margin-left:0.625em;
      border-top:0.3em solid #000;
    }
    .nav-link>h1{margin-bottom:0;font-weight:bold;font-size:$tit-size;}
    h1{
      display:inline-block;;
      border:0 !important;
      @include color(#fff,$tit-color);
      font-size:1rem;
    }
    .dropdown-menu{border-color:$border-color;}
  }
  .top-icon{ img{height:3.125rem;padding:1rem 0.5rem;} }
  .new{position:relative;}
  .new:after{
    content:attr(data-new);
    display:block;
    position:absolute;
    top:0;right:0;
    width:1rem;
    height:1rem;
    margin-top:-0.25rem;
    background-color:#ff656f;
    border-radius: 50%;color:#fff;
    font-size:0.625rem;
    line-height: 1rem;
  }

}


section{
  position:relative;
  z-index: 1;
  min-height:calc(100% - 3.125rem);
  padding-top:$inside-margin;
  padding-bottom:$inside-margin;
  @include color($bg-color,$con-color);
  transition : all .4s ease;
  &:after{@extend %float-clear;}
}
section.login{
  min-height:100%;
}
section.main{
  padding-bottom:calc(3.125rem + #{$inside-margin});
}


footer{
    position:fixed;
    right:0;
    bottom:0;
    left:0;
    z-index: 2;
    height:3.125rem;
    @include color(#fff,$foot-color);
    font-size:1.1rem;
    box-shadow: 0 -2px 4px rgba(0,0,0,.075);
    ul{
      display:flex;
      height:100%;
      margin-bottom:0;
    }
    li{
      width:100%;
      height:100%;
      text-align:center;
    }
    .txt{padding-top:0.4rem; line-height: 1.6; font-size:0.75rem;}
    .txt:before{content:"";display:block;width:100%;height:1.125rem;margin-bottom:3px;background-size:contain;background-repeat: no-repeat;background-position: center;}
    .txt.home:before{background-image: url('../images/icon/ic_dvr_normal.png');}
    .txt.chart:before{background-image: url('../images/icon/ic_pie_chart_normal.png');}
    .txt.list:before{background-image: url('../images/icon/ic_photo_normal.png');}
    .txt.wallet:before{background-image: url('../images/icon/ic_description_normal.png');}
    .txt.board:before{background-image: url('../images/icon/ic_terrain_normal.png');}
    li .txt,
    li .txt:before{font-weight: normal;}
    li.active .txt,
    li.active .txt:before{color:$primary;font-weight: bold;}
    li.active .txt.home:before{background-image: url('../images/icon/ic_dvr_pressed.png');}
    li.active .txt.chart:before{background-image: url('../images/icon/ic_pie_chart_pressed.png');}
    li.active .txt.list:before{background-image: url('../images/icon/ic_photo_pressed.png');}
    li.active .txt.wallet:before{background-image: url('../images/icon/ic_description_pressed.png');}
    li.active .txt.board:before{background-image: url('../images/icon/ic_terrain_pressed.png');}

}

//contents

/*login*/
.login{
  * {color:$con-color;font-size:$defult-size;}
  .login-box{
    margin-top:50%;
  }
  .logo{
    width:100%;
    height:100px;
    margin-bottom:$inside-margin;
    @include bgimg('../images/common/logo.png', center , 10rem);
  }
  input{
    margin-bottom:$inside-margin;
  }
  input,button{
    height:2.5rem;
    line-height:2.5rem;
  }
  .btn-wrap{  margin-top:$inside-margin;  }
  .btn-wrap button{padding:0;}
}

/*project*/
.pro-map{
  width:100%;
  background-color:#fff;
  border-top:1px solid $border-color;
  border-right:1px solid $border-color;
  border-left:1px solid $border-color;
}
.pro-info{
  margin-top:$inside-margin;
  padding:0.625rem;
  border-radius: $border-radius;
  @include color($primary,rgba(255,255,255,.8));
  font-size:0.75rem;
  font-weight:700;
  .today_date,
  .big{font-size:$tit-size;font-weight:400;}
  .info-tit{padding-top:0.5rem;}
  .row>div{position:relative;padding:0;}
  .row>div.col-6:nth-child(odd){padding-left:$inside-margin;}
  .row>div.col-6:nth-child(even){padding-right:$inside-margin;}
  .row>div:not(:last-child){padding-bottom:0.3rem;}
  .row>div:not(:first-child){padding-top:0.625rem; border-top:1px solid #fff;}

  .startend{  @extend %float-clear;  }
  .progress_bar{overflow:hidden;width:100%;height:0.75rem;margin-top:0.625rem;background-color: #fff; border-radius: 0.75rem;}
  .progress_bar_active{width: 70px;height:100%;background-color:#ffec45;}
  .d-day{color:#ffec45;}
}
.chart-1,
.chart-2{
  overflow: hidden;;
  position:relative;;
  width:100%;
  margin-top:$inside-margin;
  background-color:#fff;
  border-radius: $border-radius;
  box-shadow: 0 4px 4px rgba(0,0,0,.1);
}

.chart-1{height:15rem;}
.chart-2{height:8.125rem;}

.chart-1{

}

/*process_curve*/
.curve{width:100%;background-color:#fff;border:1px solid $border-color;}
.curve > img{width:100%;}


//process_picture_list
.picture-list{
  margin-right:-$inside-margin;
  margin-left:-$inside-margin;
  .table{
    border:none;
    img{width:100%;}
    th,td{
      border-top:none;
      border-right:none;
      border-left:none;
      padding-top:#{$inside-margin / 2};
      padding-bottom:#{$inside-margin / 2};
    }
    tr td:nth-child(even){
      padding-right:$inside-margin;
      padding-left:#{$inside-margin / 2};
    }
    tr td:nth-child(odd){
      padding-right:#{$inside-margin / 2};
      padding-left:$inside-margin;
    }
    tr:last-child td{
      border-bottom:0;
    }
    p{
      line-height: 1.4;
      @extend %float-clear;
    }
    td p:not(:last-child){margin-bottom:#{$inside-margin / 2}}
    .pic-tit{
      font-size:$sub-size;
      font-weight: 700;
    }
  }
}

.create{
  position:fixed;
  right:$inside-margin;
  bottom:#{$inside-margin * 4};
  width:3rem;
  height:3rem;
  border-radius: 50%;
  background-color: $primary;
  @include bgimg('../images/icon/add.png', center , 1rem);
  font-size:$sub-size;
  box-shadow: 0 4px 4px rgba(0,0,0,.2);
}

/*process_picture_write*/
.up-load-photoup{
  width:100%;
  height:12.5rem;
  background-color:#ddd;
  margin-bottom:$inside-margin;
  @include bgimg('../images/icon/ic_add_photo.png', center , 4rem);
  border:1px solid $border-color;
  img{
    width:100%;
    height:100%;
  }
}
.write{
  *{
    font-size:$defult-size;
    color:$con-color;
  }
  .tit{margin-bottom:$inside-margin;}
  .con div{height:auto;}
  .form-control{border-radius: 0;}
  textarea{
    min-height:240px;
  }

}

/*information*/
.information{
  .row{margin-right:-5px;margin-bottom:10px;margin-left:-5px;}
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12,
  .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12,
  .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12,
  .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12,
  .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12,
  .col-xl, .col-xl-auto{padding-right:5px;padding-left:5px;}

  dl.photo,
  dl.sign{display:block;}
  dl.photo dt,
  dl.sign dt{width:100%;height:auto;padding:0;border-right:none;border-bottom:1px solid $border-color;}
  dl.photo dd,
  dl.sign dd{height:calc(2.8rem + 1px);}
  dl.photo dd{@include bgimg('../images/my_info/ic_person_add.png', center, 1.5rem);}
  dl.sign dd{@include bgimg('../images/my_info/ic_ink.png', center , 1.5rem);}

  dl{display:flex;margin-bottom:0px;border:1px solid $border-color;}
  dt,dd{padding:0.375rem 0;}
  dt{width:48px;height: calc(1.5em + 0.75rem + 2px);flex:none; @include color($bg-color,$con-color);font-size: $defult-size;font-weight: 700;text-align: center;}
  dd{width:100%;margin-bottom:0;@include color(#ebedee,$con-color);font-size: $defult-size;}
  dd input[type=text]{width:calc(100% + 2px);height:calc(1.5em + 0.75rem + 4px);margin:calc(-0.375rem - 1px) 0px;padding:0 0.75rem;border:1px solid $border-color;@include color(#fff,$con-color);}
  dd input[type=text]:read-only {@include color(#ebedee,$con-color);}
  dd select{width:calc(100% + 2px);height:calc(1.5em + 0.75rem + 4px); margin:calc(-0.375rem - 1px) 0px;padding:0 0.75rem;@include color(#fff,$con-color); border:1px solid $border-color;}
  .p-0{line-height: 1.2;}
  .pw-change{width:100%;height:100%;border:none;font-size: $defult-size;}

  .sub-wrap{margin-right:-$inside-margin;margin-left:-$inside-margin;border-top:1px solid $border-color;}
  .sub-list{margin-top:0;}
}

/*lot_state*/
.state-chart{
  overflow: hidden;;
  position:relative;;
  width:100%;
  height:200px;
  margin-bottom:$inside-margin;
  background-color:#fff;
  border-radius: $border-radius;
  box-shadow: 0 4px 4px rgba(0,0,0,.1);
}

/*document_manage*/

.document_manage{
  width:100%;
  margin-top:-$inside-margin;
  .sub-tit{padding-right:$inside-margin;padding-left:$inside-margin;margin-top:$inside-margin;margin-bottom:0;}
  .sub-list{margin-top:0;border-top:1px solid $border-color;}
}
