/*//wts,mts common*/
.sub-tit:after, section:after, .pro-info .startend:after, .picture-list .table p:after {
  content: "";
  display: block;
  clear: both; }

/*
 * Nanum Gothic (Korean) http://www.google.co../fonts/earlyaccess
*/
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/NanumGothic-Regular.eot);
  src: url(../fonts/NanumGothic-Regular.eot?#iefix) format("embedded-opentype"), url(../fonts/NanumGothic-Regular.woff2) format("woff2"), url(../fonts/NanumGothic-Regular.woff) format("woff"), url(../fonts/NanumGothic-Regular.ttf) format("truetype"); }

@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/NanumGothic-Bold.eot);
  src: url(../fonts/NanumGothic-Bold.eot?#iefix) format("embedded-opentype"), url(../fonts/NanumGothic-Bold.woff2) format("woff2"), url(../fonts/NanumGothic-Bold.woff) format("woff"), url(../fonts/NanumGothic-Bold.ttf) format("truetype"); }

@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/NanumGothic-ExtraBold.eot);
  src: url(../fonts/NanumGothic-ExtraBold.eot?#iefix) format("embedded-opentype"), url(../fonts/NanumGothic-ExtraBold.woff2) format("woff2"), url(../fonts/NanumGothic-ExtraBold.woff) format("woff"), url(../fonts/NanumGothic-ExtraBold.ttf) format("truetype"); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%;
  color: #7d7d8e;
  /*font-size:2.95vw;*/
  font-family: Nanum Gothic, sans-serif; }

body {
  -webkit-text-size-adjust: 100%;
  background-color: #fff; }

a {
  text-decoration: none;
  color: #7d7d8e; }

li {
  list-style: none; }

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  font-size: 0.9rem; }

caption,
summary {
  display: none; }

.btn-process {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: calc(-100% - 15px);
  width: calc(25% - 5px);
  border: none; }

.btn-chart-move {
  position: absolute;
  top: -2px;
  right: -2px; }
  .btn-chart-move:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    border: 1.7rem solid transparent;
    border-top-color: #717181;
    border-right-color: #717181; }
  .btn-chart-move:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 2rem;
    height: 2rem;
    background-image: url("../images/icon/add.png");
    background-repeat: no-repeat;
    background-position: top 0.4rem right 0.4rem;
    background-size: 1.3rem; }

.btn-primary {
  background-color: #1685fa !important;
  color: #fff !important; }

.tab-pane.fade {
  display: block !important; }

.tab-pane.fade:not(.show) {
  display: none !important; }

.sub-tit {
  height: 2.5rem;
  margin-bottom: 0.25rem;
  font-size: 0.9375rem;
  line-height: 2.5rem;
  font-weight: 700; }
  .sub-tit .tit {
    float: left; }
  .sub-tit .link {
    float: right;
    position: relative;
    padding-right: 1.875rem;
    color: #1685fa; }
    .sub-tit .link:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 1.5rem;
      margin: 0.7rem 0;
      background-image: url("../images/icon/up-arrow.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain; }

.sub-list {
  width: 100%;
  margin-top: -15px;
  background-color: #fff !important;
  color: #1685fa !important; }
  .sub-list ul {
    margin-bottom: 0; }
  .sub-list li {
    position: relative;
    height: 2.5rem !important;
    padding: 0 15px;
    border-bottom: 1px solid #dee2e6;
    color: #1685fa;
    font-size: 0.9375rem !important;
    line-height: 2.5rem !important;
    font-weight: 700; }
    .sub-list li.read {
      background-color: #f6f8f9; }
  .sub-list li:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 15px;
    bottom: 0;
    width: 1.5rem;
    margin: 0.7rem 0;
    background-image: url("../images/icon/up-arrow.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; }
  .sub-list span {
    font-size: 0.75rem; }
  .sub-list span.classify {
    padding: 0.25rem;
    border: 1px solid #1685fa; }
  .sub-list span.tit {
    padding: 0 0.5rem;
    color: #7d7d8e; }
  .sub-list span.date {
    float: right;
    margin-right: 2rem;
    color: #7d7d8e; }

.table-box {
  padding: 0.25rem 0; }
  .table-box .table.boder-top-none {
    border-top: 0; }
  .table-box .table.boder-top-none thead tr:first-child th {
    border-top: 0; }
  .table-box .shadow-box table,
  .table-box .sub-con-box table {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none; }
  .table-box .shadow-box thead tr:first-child th,
  .table-box .shadow-box thead tr:first-child td,
  .table-box .sub-con-box thead tr:first-child th,
  .table-box .sub-con-box thead tr:first-child td {
    border-top: none; }
  .table-box .shadow-box thead tr th:first-child,
  .table-box .shadow-box thead tr td:first-child,
  .table-box .shadow-box tbody tr th:first-child,
  .table-box .shadow-box tbody tr td:first-child,
  .table-box .sub-con-box thead tr th:first-child,
  .table-box .sub-con-box thead tr td:first-child,
  .table-box .sub-con-box tbody tr th:first-child,
  .table-box .sub-con-box tbody tr td:first-child {
    border-left: none; }
  .table-box .shadow-box thead tr th:last-child,
  .table-box .shadow-box thead tr td:last-child,
  .table-box .shadow-box tbody tr th:last-child,
  .table-box .shadow-box tbody tr td:last-child,
  .table-box .sub-con-box thead tr th:last-child,
  .table-box .sub-con-box thead tr td:last-child,
  .table-box .sub-con-box tbody tr th:last-child,
  .table-box .sub-con-box tbody tr td:last-child {
    border-right: none; }
  .table-box .shadow-box tbody tr:last-child th,
  .table-box .shadow-box tbody tr:last-child td,
  .table-box .sub-con-box tbody tr:last-child th,
  .table-box .sub-con-box tbody tr:last-child td {
    border-bottom: none; }
  .table-box .shadow-box table.border-top,
  .table-box .sub-con-box table.border-top {
    border-width: 2px !important; }
  .table-box .sub-con-box {
    margin-right: -15px;
    margin-left: -15px;
    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6; }
  .table-box .shadow-box {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1); }

ul.table {
  margin-bottom: 0;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid #dee2e6;
  border-left: 1px solid #dee2e6;
  font-size: 0.6875rem; }
  ul.table li {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
  ul.table div.cell,
  ul.table div.btn-wrap {
    padding: 0.25rem 0;
    border-right: 1px solid #dee2e6;
    color: #7d7d8e;
    line-height: 1.6;
    text-align: center; }
  ul.table div.cell {
    border-top: 1px solid #dee2e6; }
  ul.table li.head div.row {
    border-bottom: 0;
    background-color: #f6f8f9;
    font-weight: 700; }
  ul.table li .cell:nth-child(1) {
    width: 20%; }
  ul.table li .cell:nth-child(2) {
    width: 60%; }
  ul.table li .cell:nth-child(3) {
    width: 20%; }
  ul.table li .cell:nth-child(4) {
    width: 20%; }
  ul.table li .cell:nth-child(5) {
    width: 60%; }
  ul.table li .cell:nth-child(6) {
    width: 20%; }
  ul.table li.row {
    margin-right: 0;
    margin-left: 0;
    background-color: #ffffff; }
    ul.table li.row div.cell:nth-child(1),
    ul.table li.row div.cell:nth-child(2),
    ul.table li.row div.cell:nth-child(3) {
      border-top-color: #7d7d8e; }
    ul.table li.row div.cell {
      display: block;
      font-weight: 400; }
  ul.table li.row.selec div.cell {
    display: none; }
  ul.table li.row.selec .btn-wrap {
    display: block;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.13);
    border-top: 1px solid #7d7d8e;
    font-weight: 400;
    transition: all .4s ease; }
  ul.table input[type=button] {
    min-width: 80px;
    padding: 7px;
    background-color: #1685fa;
    color: #fff;
    margin: 6px 3px;
    border: none;
    border-radius: 3px; }
  ul.table input[type=button][readonly] {
    background-color: #717181; }

.table {
  margin-bottom: 0;
  border: 1px solid #dee2e6;
  font-size: 0.6875rem; }
  .table.row-underline tbody tr:first-child td,
  .table.row-underline tbody tr:first-child th {
    border-top-color: #7d7d8e; }
  .table.row-underline.under-3 tbody tr:nth-child(3n):not(:last-child) td,
  .table.row-underline.under-3 tbody tr:nth-child(3n):not(:last-child) th {
    border-bottom-color: #7d7d8e; }
  .table.row-underline.under-2 tbody tr:nth-child(2n):not(:last-child) td,
  .table.row-underline.under-2 tbody tr:nth-child(2n):not(:last-child) th {
    border-bottom-color: #7d7d8e; }
  .table thead th,
  .table thead td {
    vertical-align: middle;
    border-bottom: 0; }
  .table th,
  .table td {
    padding: 0.25rem 0;
    border-top: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    color: #7d7d8e;
    line-height: 1.6;
    text-align: center;
    vertical-align: middle; }
  .table th {
    background-color: #f6f8f9;
    font-weight: 700; }
  .table td {
    background-color: #ffffff;
    font-weight: 400; }
  .table p {
    margin-bottom: 0;
    line-height: 1; }
  .table .small {
    font-size: 0.625rem; }
  .table .link {
    color: #1685fa;
    text-decoration: underline; }
  .table select {
    height: 1.8125rem;
    padding: 0;
    border: 0;
    background-color: transparent;
    font-size: 0.75rem;
    color: #7d7d8e; }
  .table input[type=text] {
    border: none;
    height: 1.8125rem;
    font-size: 0.75rem;
    background: #fff;
    padding: 0 0.5rem;
    min-width: 100px; }
  .table.document-detail {
    margin-top: -15px;
    border-right: 0;
    border-left: 0; }
    .table.document-detail tbody tr th:first-child,
    .table.document-detail tbody tr td:first-child {
      padding-left: 15px;
      border-left: 0; }
    .table.document-detail tbody tr th:last-child,
    .table.document-detail tbody tr td:last-child {
      padding-right: 15px;
      border-right: 0; }
    .table.document-detail tbody tr:last-child th,
    .table.document-detail tbody tr:last-child td {
      padding-top: 15px;
      padding-bottom: 15px; }

.navigation {
  padding: 15px 0; }
  .navigation .pagination {
    align-items: center;
    justify-content: center; }
    .navigation .pagination a {
      font-size: 0.75rem; }
    .navigation .pagination .page-item.active a {
      background-color: #1685fa !important;
      color: #fff !important; }
    .navigation .pagination .page-item:first-child .page-link {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0; }
    .navigation .pagination .page-item:last-child .page-link {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0; }
    .navigation .pagination .page-item a {
      color: #7d7d8e; }

/*checkbox,radio custom*/
.check-custom input[type=checkbox],
.check-custom input[type=radio] {
  display: none; }

.check-custom input + label {
  display: inline-block;
  position: relative;
  padding-right: 1rem;
  padding-left: 2em;
  color: #7d7d8e;
  line-height: 2rem;
  cursor: pointer; }

.check-custom input + label:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 1.2rem;
  height: 1.2rem;
  margin-top: -0.55rem;
  border: 1px solid #888;
  border-radius: 2px; }

.check-custom input + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 2px;
  width: 1rem;
  height: 1rem;
  margin-top: -0.45rem;
  background-size: contain;
  border-radius: 2px; }

.check-custom input[type=checkbox]:checked + label:before,
.check-custom input[type=radio]:checked + label:before {
  background-color: #1685fa; }

.check-custom input[type=checkbox]:checked + label:after,
.check-custom input[type=radio]:checked + label:after {
  background-image: url("../images/icon/verification-mark.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 0.75rem; }

.nav-tabs {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  border: 0;
  text-align: center; }
  .nav-tabs .nav-item {
    width: 100%; }
  .nav-tabs .nav-item .nav-link {
    display: block;
    position: relative;
    border: 0;
    background-color: #fff !important;
    color: #858585 !important;
    font-size: 0.9375rem; }
  .nav-tabs .nav-link.active {
    font-weight: 700;
    color: #1685fa !important; }
  .nav-tabs .nav-link.active:after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 3px;
    background-color: #1685fa; }

.cover {
  display: table;
  width: 100%;
  height: 100%; }
  .cover .cover-inner {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle; }

.search-bar {
  display: flex;
  position: relative;
  margin-right: -5px;
  margin-bottom: 15px;
  margin-left: -5px; }
  .search-bar * {
    border-radius: 0;
    font-size: 0.75rem;
    color: #7d7d8e; }
  .search-bar select {
    padding: 0.375rem 0; }
  .search-bar .search-con {
    flex: none;
    padding: 0 5px; }
  .search-bar .three-quarters {
    width: 75%; }
  .search-bar .quarter {
    width: 25%; }
  .search-bar .half {
    width: 50%; }
  .search-bar .txt {
    padding: 0.375rem 0; }
  .search-bar .datepicker {
    background-color: #fff;
    border: 1px solid #ced4da; }
    .search-bar .datepicker input[type=text] {
      padding: 0.375rem 0;
      border: none;
      letter-spacing: -1px; }
    .search-bar .datepicker input[type=text]:focus {
      outline: none; }
    .search-bar .datepicker .calendar {
      width: 1.5rem;
      padding: 0 0.25rem;
      background-image: url("../images/icon/calendar.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 1rem; }
    .search-bar .datepicker .input-group-text {
      border: none;
      background-color: transparent; }
    .search-bar .datepicker div.form-control {
      border: none; }
  .search-bar .search-wrap {
    overflow: hidden;
    width: 100% !important;
    height: calc(1.5em + 0.75rem + 2px);
    background-color: #fff;
    border: 1px solid #ced4da; }
    .search-bar .search-wrap input {
      border: none;
      letter-spacing: -1px; }
    .search-bar .search-wrap input:focus {
      outline: none; }
    .search-bar .search-wrap .form-control {
      margin: -1px;
      border: 1px solid #dee2e6; }
    .search-bar .search-wrap .search {
      width: 2rem;
      padding: 0 0.5rem;
      margin: -1px;
      background-image: url("../images/icon/search.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 1rem;
      background-color: #1685fa;
      border: 1px solid #dee2e6; }

.wrap {
  height: 100%; }

header {
  position: relative;
  z-index: 2;
  width: 100%;
  background-color: #fff !important;
  color: #000000 !important;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1); }
  header .page-tit {
    display: inline-block;
    height: 3.125rem;
    margin-bottom: 0;
    padding: 3px 1rem 0;
    border: 0 !important;
    background-color: #fff !important;
    color: #000000 !important;
    line-height: calc(3.125rem - 3px);
    font-weight: bold;
    font-size: 1.25rem; }
    header .page-tit:before {
      content: "";
      display: inline-block;
      width: 1rem;
      height: 1rem;
      margin-right: 1rem;
      background-image: url("../images/icon/left-arrow.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain; }
  header .page-top-icon {
    padding: 0 0.25rem;
    line-height: 3.125rem; }
    header .page-top-icon img {
      width: 100%; }
  header .dropdown .nav-link {
    height: 3.125rem;
    padding: 3px 1rem 0;
    line-height: calc(3.125rem - 3px); }
  header .dropdown .dropdown-toggle::after {
    margin-left: 0.625em;
    border-top: 0.3em solid #000; }
  header .dropdown .nav-link > h1 {
    margin-bottom: 0;
    font-weight: bold;
    font-size: 1.25rem; }
  header .dropdown h1 {
    display: inline-block;
    border: 0 !important;
    background-color: #fff !important;
    color: #000000 !important;
    font-size: 1rem; }
  header .dropdown .dropdown-menu {
    border-color: #dee2e6; }
  header .top-icon img {
    height: 3.125rem;
    padding: 1rem 0.5rem; }
  header .new {
    position: relative; }
  header .new:after {
    content: attr(data-new);
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 1rem;
    height: 1rem;
    margin-top: -0.25rem;
    background-color: #ff656f;
    border-radius: 50%;
    color: #fff;
    font-size: 0.625rem;
    line-height: 1rem; }

section {
  position: relative;
  z-index: 1;
  min-height: calc(100% - 3.125rem);
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #f6f8f9 !important;
  color: #7d7d8e !important;
  transition: all .4s ease; }

section.login {
  min-height: 100%; }

section.main {
  padding-bottom: calc(3.125rem + 15px); }

footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  height: 3.125rem;
  background-color: #fff !important;
  color: #858585 !important;
  font-size: 1.1rem;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.075); }
  footer ul {
    display: flex;
    height: 100%;
    margin-bottom: 0; }
  footer li {
    width: 100%;
    height: 100%;
    text-align: center; }
  footer .txt {
    padding-top: 0.4rem;
    line-height: 1.6;
    font-size: 0.75rem; }
  footer .txt:before {
    content: "";
    display: block;
    width: 100%;
    height: 1.125rem;
    margin-bottom: 3px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }
  footer .txt.home:before {
    background-image: url("../images/icon/ic_dvr_normal.png"); }
  footer .txt.chart:before {
    background-image: url("../images/icon/ic_pie_chart_normal.png"); }
  footer .txt.list:before {
    background-image: url("../images/icon/ic_photo_normal.png"); }
  footer .txt.wallet:before {
    background-image: url("../images/icon/ic_description_normal.png"); }
  footer .txt.board:before {
    background-image: url("../images/icon/ic_terrain_normal.png"); }
  footer li .txt,
  footer li .txt:before {
    font-weight: normal; }
  footer li.active .txt,
  footer li.active .txt:before {
    color: #1685fa;
    font-weight: bold; }
  footer li.active .txt.home:before {
    background-image: url("../images/icon/ic_dvr_pressed.png"); }
  footer li.active .txt.chart:before {
    background-image: url("../images/icon/ic_pie_chart_pressed.png"); }
  footer li.active .txt.list:before {
    background-image: url("../images/icon/ic_photo_pressed.png"); }
  footer li.active .txt.wallet:before {
    background-image: url("../images/icon/ic_description_pressed.png"); }
  footer li.active .txt.board:before {
    background-image: url("../images/icon/ic_terrain_pressed.png"); }

/*login*/
.login * {
  color: #7d7d8e;
  font-size: 0.75rem; }

.login .login-box {
  margin-top: 50%; }

.login .logo {
  width: 100%;
  height: 100px;
  margin-bottom: 15px;
  background-image: url("../images/common/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10rem; }

.login input {
  margin-bottom: 15px; }

.login input, .login button {
  height: 2.5rem;
  line-height: 2.5rem; }

.login .btn-wrap {
  margin-top: 15px; }

.login .btn-wrap button {
  padding: 0; }

/*project*/
.pro-map {
  width: 100%;
  background-color: #fff;
  border-top: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
  border-left: 1px solid #dee2e6; }

.pro-info {
  margin-top: 15px;
  padding: 0.625rem;
  border-radius: 0.3rem;
  background-color: #1685fa !important;
  color: rgba(255, 255, 255, 0.8) !important;
  font-size: 0.75rem;
  font-weight: 700; }
  .pro-info .today_date,
  .pro-info .big {
    font-size: 1.25rem;
    font-weight: 400; }
  .pro-info .info-tit {
    padding-top: 0.5rem; }
  .pro-info .row > div {
    position: relative;
    padding: 0; }
  .pro-info .row > div.col-6:nth-child(odd) {
    padding-left: 15px; }
  .pro-info .row > div.col-6:nth-child(even) {
    padding-right: 15px; }
  .pro-info .row > div:not(:last-child) {
    padding-bottom: 0.3rem; }
  .pro-info .row > div:not(:first-child) {
    padding-top: 0.625rem;
    border-top: 1px solid #fff; }
  .pro-info .progress_bar {
    overflow: hidden;
    width: 100%;
    height: 0.75rem;
    margin-top: 0.625rem;
    background-color: #fff;
    border-radius: 0.75rem; }
  .pro-info .progress_bar_active {
    width: 70px;
    height: 100%;
    background-color: #ffec45; }
  .pro-info .d-day {
    color: #ffec45; }

.chart-1,
.chart-2 {
  overflow: hidden;
  position: relative;
  width: 100%;
  margin-top: 15px;
  background-color: #fff;
  border-radius: 0.3rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1); }

.chart-1 {
  height: 15rem; }

.chart-2 {
  height: 8.125rem; }

/*process_curve*/
.curve {
  width: 100%;
  background-color: #fff;
  border: 1px solid #dee2e6; }

.curve > img {
  width: 100%; }

.picture-list {
  margin-right: -15px;
  margin-left: -15px; }
  .picture-list .table {
    border: none; }
    .picture-list .table img {
      width: 100%; }
    .picture-list .table th, .picture-list .table td {
      border-top: none;
      border-right: none;
      border-left: none;
      padding-top: 7.5px;
      padding-bottom: 7.5px; }
    .picture-list .table tr td:nth-child(even) {
      padding-right: 15px;
      padding-left: 7.5px; }
    .picture-list .table tr td:nth-child(odd) {
      padding-right: 7.5px;
      padding-left: 15px; }
    .picture-list .table tr:last-child td {
      border-bottom: 0; }
    .picture-list .table p {
      line-height: 1.4; }
    .picture-list .table td p:not(:last-child) {
      margin-bottom: 7.5px; }
    .picture-list .table .pic-tit {
      font-size: 0.9375rem;
      font-weight: 700; }

.create {
  position: fixed;
  right: 15px;
  bottom: 60px;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #1685fa;
  background-image: url("../images/icon/add.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1rem;
  font-size: 0.9375rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2); }

/*process_picture_write*/
.up-load-photoup {
  width: 100%;
  height: 12.5rem;
  background-color: #ddd;
  margin-bottom: 15px;
  background-image: url("../images/icon/ic_add_photo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 4rem;
  border: 1px solid #dee2e6; }
  .up-load-photoup img {
    width: 100%;
    height: 100%; }

.write * {
  font-size: 0.75rem;
  color: #7d7d8e; }

.write .tit {
  margin-bottom: 15px; }

.write .con div {
  height: auto; }

.write .form-control {
  border-radius: 0; }

.write textarea {
  min-height: 240px; }

/*information*/
.information .row {
  margin-right: -5px;
  margin-bottom: 10px;
  margin-left: -5px; }

.information .col-1, .information .col-2, .information .col-3, .information .col-4, .information .col-5, .information .col-6, .information .col-7, .information .col-8, .information .col-9, .information .col-10, .information .col-11, .information .col-12,
.information .col, .information .col-auto, .information .col-sm-1, .information .col-sm-2, .information .col-sm-3, .information .col-sm-4, .information .col-sm-5, .information .col-sm-6, .information .col-sm-7, .information .col-sm-8, .information .col-sm-9, .information .col-sm-10, .information .col-sm-11, .information .col-sm-12,
.information .col-sm, .information .col-sm-auto, .information .col-md-1, .information .col-md-2, .information .col-md-3, .information .col-md-4, .information .col-md-5, .information .col-md-6, .information .col-md-7, .information .col-md-8, .information .col-md-9, .information .col-md-10, .information .col-md-11, .information .col-md-12,
.information .col-md, .information .col-md-auto, .information .col-lg-1, .information .col-lg-2, .information .col-lg-3, .information .col-lg-4, .information .col-lg-5, .information .col-lg-6, .information .col-lg-7, .information .col-lg-8, .information .col-lg-9, .information .col-lg-10, .information .col-lg-11, .information .col-lg-12,
.information .col-lg, .information .col-lg-auto, .information .col-xl-1, .information .col-xl-2, .information .col-xl-3, .information .col-xl-4, .information .col-xl-5, .information .col-xl-6, .information .col-xl-7, .information .col-xl-8, .information .col-xl-9, .information .col-xl-10, .information .col-xl-11, .information .col-xl-12,
.information .col-xl, .information .col-xl-auto {
  padding-right: 5px;
  padding-left: 5px; }

.information dl.photo,
.information dl.sign {
  display: block; }

.information dl.photo dt,
.information dl.sign dt {
  width: 100%;
  height: auto;
  padding: 0;
  border-right: none;
  border-bottom: 1px solid #dee2e6; }

.information dl.photo dd,
.information dl.sign dd {
  height: calc(2.8rem + 1px); }

.information dl.photo dd {
  background-image: url("../images/my_info/ic_person_add.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.5rem; }

.information dl.sign dd {
  background-image: url("../images/my_info/ic_ink.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.5rem; }

.information dl {
  display: flex;
  margin-bottom: 0px;
  border: 1px solid #dee2e6; }

.information dt, .information dd {
  padding: 0.375rem 0; }

.information dt {
  width: 48px;
  height: calc(1.5em + 0.75rem + 2px);
  flex: none;
  background-color: #f6f8f9 !important;
  color: #7d7d8e !important;
  font-size: 0.75rem;
  font-weight: 700;
  text-align: center; }

.information dd {
  width: 100%;
  margin-bottom: 0;
  background-color: #ebedee !important;
  color: #7d7d8e !important;
  font-size: 0.75rem; }

.information dd input[type=text] {
  width: calc(100% + 2px);
  height: calc(1.5em + 0.75rem + 4px);
  margin: calc(-0.375rem - 1px) 0px;
  padding: 0 0.75rem;
  border: 1px solid #dee2e6;
  background-color: #fff !important;
  color: #7d7d8e !important; }

.information dd input[type=text]:read-only {
  background-color: #ebedee !important;
  color: #7d7d8e !important; }

.information dd select {
  width: calc(100% + 2px);
  height: calc(1.5em + 0.75rem + 4px);
  margin: calc(-0.375rem - 1px) 0px;
  padding: 0 0.75rem;
  background-color: #fff !important;
  color: #7d7d8e !important;
  border: 1px solid #dee2e6; }

.information .p-0 {
  line-height: 1.2; }

.information .pw-change {
  width: 100%;
  height: 100%;
  border: none;
  font-size: 0.75rem; }

.information .sub-wrap {
  margin-right: -15px;
  margin-left: -15px;
  border-top: 1px solid #dee2e6; }

.information .sub-list {
  margin-top: 0; }

/*lot_state*/
.state-chart {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 200px;
  margin-bottom: 15px;
  background-color: #fff;
  border-radius: 0.3rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1); }

/*document_manage*/
.document_manage {
  width: 100%;
  margin-top: -15px; }
  .document_manage .sub-tit {
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 15px;
    margin-bottom: 0; }
  .document_manage .sub-list {
    margin-top: 0;
    border-top: 1px solid #dee2e6; }
